@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@700&display=swap');

.custom-border-gradient {
    border: 8px solid transparent;
    border-image: linear-gradient(to bottom, #F9CB3D, #FFD700) 1;
    border-radius: 0.5rem;
  }
  
#battle-screen {
  background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2fb2821a-1406-4a1d-9b04-6668f278e944/d843fov-5ad2d436-789b-48f4-91ac-7a553ca26306.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzJmYjI4MjFhLTE0MDYtNGExZC05YjA0LTY2NjhmMjc4ZTk0NFwvZDg0M2Zvdi01YWQyZDQzNi03ODliLTQ4ZjQtOTFhYy03YTU1M2NhMjYzMDYucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.4WU23QrSu_7CD6c4MJIYPEeIvE5o8maEEkqYM40mwus');
  background-repeat: no-repeat;
  background-size: cover;
  height: 31rem;
  width: 60rem;
}

#action-bar {
  height: 8rem;
  width: 32rem;
  background-color: rgb(208,224,208);
}

.full-height {
  height: 100vh;
}

#action-btn {
  height: 1rem;
  width: 2rem;
}

#battle-info {
    height: 3rem;
    width: 35%;
    background-color: rgb(208,224,208, 0.77)
  }

.app-container {
    position: relative;
    overflow: hidden;
  }
  
  .top-banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
  }
  
  .content {
    padding-top: 100px; /* Adjust this value to match the height of your TopBanner component */
  }

  #health-1,
  #health-2 {
    height: 1.5rem;
    width: 14rem;
    color: blue;
  }

  #health-1::-webkit-progress-bar,
  #health-2::-webkit-progress-bar {
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(208,224,208, 0.77);
  }

  #health-1::-webkit-progress-value,
  #health-2::-webkit-progress-value {
    background-color: #1f7af1;
    border: 1px solid #1f7af1;
    border-radius: 10px;
  }

  #health-2 {
    transform: rotate(180deg);
  }